*{
  margin: 0px;
  padding: 0px;
}

div{
  position: absolute;
  display: inline-block;


}
.contenedor{
position: relative;
  padding: 0px;
  background: white;
  height: 100px;
  width: 99.5%;
}
.contenedor2{
  border: 4px solid black ;
position: relative;
  padding: 0px;
  background: #E7BC5A;
  height: 80px;
  width: 99.5%;
}


.contenedorpie{
  border: 4px solid black ;
position: relative;
  padding: 0px;
  background: white;
  height: 160px;
  width: 99.5%;
}
.contenedormercado{
  position: relative;
    padding: 0px;
    background: white;
    height: 844px;
    width: 100%;
}
.caja1{
	top:0;
  left: 40px;
}
.facbook{
  top: 10px;
  right: 450px;
}
.twitter{
  top: 10px;
  right: 300px;
}
.instagram{
  top: 10px;
  right: 150px;
}
.facletra{
  top: 80px;
  right: 435px;
}
.twiletra{
  top: 80px;
  right: 292px;
}
.insletra{
  top: 80px;
  right: 123px;
}
.Inicio{
  height: 80px;
  top: 30px;
  width: 218px;
  left: 0px;
}

.Portafolio{
  height: 80px;
  width: 218px;
  left: 218px;
  top: 25px;
}
.Definicion{
  height: 80px;
  width: 218px;
  left: 436px;
  top: 30px;
}
.Iienda{
  height: 80px;
  width: 218px;
  left: 654px;
  top: 30px;
}
.Acciones{
  height: 80px;
  width: 218px;
  left: 872px;
  top: 25px;
}
.matriz{
  height: 80px;
  width: 218px;
  left: 1090px;
  top: 30px;
}
.marke{
  height: 80px;
  width: 218px;
  left: 1308px;
  top: 30px;
}
.mueblespaz{
  top: 0px;
  left: 22%;
}
.mueblespaz1{
  top: 30px;
  left: 20%;
}
.funciones{
  top: 0px;
  left: 63%;
}
.tablafunciones{
  top: 30px;
  left: 63%;
}
.tablafunciones1{
  top: 30px;
  left: 75%;
}


.leelmer{
  top: 100px;
  left: 33%;
}

.elmermac{
  top: 100px;
  left: 4%;
}
.mujer{
  top: 570px;
  left: 2%;
}

.mercadotexto{
  top: 200px;
  left: 34%;
  height: 400px;
  width: 500px;
  border-style: dotted; border-width: 4px;
}
